@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: #ffffff;

    }

    header {
        background: #ffffff;
        color: #ffffff;
        text-align: center;
        padding: 10px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(to right, #ffffff, #005eff);
        padding: 10px;
    }

    nav a {
        color: #040000;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    nav a:hover {
        background-color: #E6E0B0;
    }
</style>

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Helvetica', serif; color: #000000;">Introducing the team</h1>
    <br>
    <p style="font-family: 'Helvetica', serif; color:#000000;"> The founding team at Strive realized- bad legal work can cause delays, significant financial loss, and even jeapordize clients' rights. Strive was created to improve lives by innovating the channels and processes through which individuals, and small businesses, retained and received legal aid services. Equipped with unique skills and a strong network, Strive provides you with finely tuned technologies, and access to a wide range of highly capable legal experts, empowering you to get better value for your time.</p>
    <p style="font-family: 'Helvetica', serif; color:#000000;">Strive is mission focused to transform your fear of legal, into strength.</p>
    <br>

    <br>
    <h2 style="font-family: 'Helvetica', serif; color:#000000;">Empower yourself; Unlock confidence</h2>
</div>