@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<body>
    <header>
        <div class="container-fluid">
            <br>
            <h1 class="display-4 font text-center text-black">Introducing Strive</h1>
        </div>
        <br>
        <div class="container-fluid text-center">
            <p class="font text-black">The truth is- bad legal work can cause delays, significant financial loss, and even jeapordize rights. Strive operateds at the intersection of technology and democratized law- our attorney marketplace paired with our suite of artificial intelligence tools, makes legal work quantifiably faster, cheaper, and more efficient. Our vision is to bring more opportunities and positve experiences to lawyers and their clients.
            </p>
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-lg rounded-pill text-white">Get Started</button>
        </div>
        <br>
        <br>
        <div class="container-fluid text-center">
            <h1 class="font text-black">Get more value for your time</h1>
        </div>
    </header>
</body>
