@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<style>

    .btn-primary.rounded-pill.btn-lg {
        color: white;
        border: transparent;
        position: relative;
    }
    .btn-primary.rounded-pill.btn-lg:hover {
        background-color: rgb(3, 170, 254);
        color: white;
        border: transparent;
    }

    .bg-color {
        min-height: 100vh;
        margin-bottom: 10vh;
        position: relative;
    }

    .header-container {
        padding-top: 5vh;
    }

</style>

<div class="container-fluid bg-color">
    <div class="header-container">
        <header>
            <h1 class="display-4 text-center text-black">Introducing Strive</h1>
        </header>
    </div>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <div class="get-started-button mt-4 text-center">
            <a class="btn btn-primary rounded-pill btn-lg text-white text-decoration-none" asp-area="" asp-controller="Home" asp-action="FileUpload">Explore Now</a>
        </div>
    }
    else
    {
        <div class="get-started-button mt-4 text-center">
            <a class="btn btn-primary rounded-pill btn-lg text-white text-decoration-none" asp-controller="Home"
               asp-action="OurProducts">Explore Now</a>
        </div>
    }
    <div class="row mt-8">
        <div class="col-md-6">
            <br />
            <div class="container bg-white p3 rounded">
                <h1 class="mt-3">Strive does best</h1>
                <p>
                    Striving to bridge the inefficiencies plaguing legal services, our founders crafted a dual-pronged
                    solution. First, Strive empowers clients with meeting-optimizing tools, making their interactions
                    with lawyers more productive. Second, it streamlines routine paperwork, freeing attorneys for core
                    tasks like discovery and case analysis. By leveraging AI, Strive equips both clients and lawyers
                    with powerful tools: clients gain document-specific insights and confidence, while lawyers can
                    maximize their expertise on high-value tasks. Ultimately, Strive aims to democratize legal markets
                    by making high-tech services and expert networks accessible to all.
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <br />
            <div class="container bg-white p3 rounded">
                <h1 class="mt-2">Our market research</h1>
                <p>
                    Our market research reveals a striking disconnect between the cost of legal services and their
                    perceived value. A strong majority, 52% of Americans, believe legal services are simply too
                    expensive. This sentiment is underscored by our interviews with hundreds of legal professionals. The
                    findings are concerning: Big Law attorneys work grueling hours exceeding 70 per week, yet 18% of
                    their time goes uncompensated. Meanwhile, on the consumer side, 92% of low-income Americans report
                    dissatisfaction with the level of legal representation they received.
                </p>
            </div>
        </div>
    </div>

    <div class="container text-center bg-white p3 rounded">
        <h1 class="mt-3 text-primary">Our mission</h1>
        <p>
            Leverage high-technology to bring freedom and efficiency to democratized legal markets.
        </p>
    </div>
</div>
