@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_HamburgerBar.cshtml";
}

<div class="contact-us-container d-flex justify-content-center align-items-center">
    <div class="container my-5 text-center">
        <h2>Contact Us</h2>
        <p>Meet with a Representative</p>
        <div class="calendly-inline-widget" data-url="https://calendly.com/apoorva-sharma-strive/meet-with-a-strive-representative"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    </div>
</div>
