@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_ServiceDashboardLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container my-5 text-center">
        <h2>Contact Us</h2>
        <p>Meet with a Representative</p>

        <div class="calendly-inline-widget"
            data-url="https://calendly.com/apoorva-sharma-strive/meet-with-a-strive-representative"
            style="min-width:320px;height:630px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    </div>
</div>
