@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .top-row {
        margin-top: 10vh;
    }

    .summary-col {
        position: relative;
        margin-right: 5vw;
        margin-top: -5vh;
    }

    .summary-border {
        @*border:1pxsolidblack;*@
    }

    .summary-title-row {
        @*border:1pxsolidblack;*@
    }

    .text-col {
        @*border:1pxsolidblack;*@margin-top: 3vh;
    }

    .chat-col {
        position: relative;
        margin-top: -5vh;
    }

    .viewdocument-button-row {
        margin-bottom: 5vh;
    }

    .viewdocument-button-col {
        margin-top: 0vh;
    }


    .btn-warning:hover{
        background-color:transparent;
        color:rgb(255, 157, 0);
    }

    .newupload-btn:hover {
        background-color: green;
        color: white;
    }

    .btn-block {
        border: 1px solid grey;
        background-color: grey;
    }

    .btn-primary-viewdoc {
        color: green;
        position: relative;
        border: 1px solid green;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .btn-primary-viewdoc:hover {
        background-color: rgb(68, 64, 64);
        color: white;
    }

    .chatbox-container {
        border: 1px solid white;
        border-radius: 10cqw;
    }

    .chatbox-body {
        @*border:1pxsolidblack;*@
    }

    .chatbox-input {
        @*border:1pxsolidblack;*@
    }

    .chatbox-col {
        margin-top: 0.9vh;

    }

    .newuploadbtn-col {
        margin-left: -3vw;
    }
</style>


<head>
    <link rel="stylesheet" href="~/Views/Home/Index.css" asp-append-version="true" />
</head>


<body>
    <div class="container-fluid bg-color">
        <div class="row top-row">
            <div class="col summary-col summary-border">
                <div class="row summary-title-row">
                    <h4>Sample Marital Settlement Agreement</h4>
                </div>
                <div class="col text-col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa praesentium, at, fugit quasi est
                        dicta beatae vel laborum sint obcaecati itaque, nemo voluptates accusamus quas expedita
                        explicabo omnis corporis dignissimos!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa praesentium, at, fugit quasi est
                        dicta beatae vel laborum sint obcaecati itaque, nemo voluptates accusamus quas expedita
                        explicabo omnis corporis dignissimos!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa praesentium, at, fugit quasi est
                        dicta beatae vel laborum sint obcaecati itaque, nemo voluptates accusamus quas expedita
                        explicabo omnis corporis dignissimos!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ipsa praesentium, at, fugit quasi est
                        dicta beatae vel laborum sint obcaecati itaque, nemo voluptates accusamus quas expedita
                        explicabo omnis corporis dignissimos!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa praesentium, at, fugit quasi est
                        dicta beatae vel laborum sint obcaecati itaque, nemo voluptates accusamus quas expedita
                        explicabo omnis corporis dignissimos!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa praesentium, at, fugit quasi est
                        dicta beatae vel laborum sint obcaecati itaque, nemo voluptates accusamus quas expedita
                        explicabo omnis corporis dignissimos!
                    </p>
                </div>
                <div class="row viewdocumentbtn-row">
                    <div class="col viewdocument-button-col">
                        <a class="btn btn-warning btn-lg savebtn-btn">Save</a>
                        <a class="btn btn-primary-viewdoc btn-lg">View Document</a>
                        <a class="btn btn-lg newupload-btn btn-block">New Upload</a>
                    </div>
                </div>
            </div>
            <div class="col chat-col chat-border">
                <div class="col chatbox-col">
                    <div class="row chat-header-row">
                        <h4>Ask Donna</h4>
                    </div>
                    <div class="row savebtn-row">

                    </div>
                    <div class="chatbot-container border rounded shadow bg-light">
                        <div class="chatbox-body flex-grow-1 overflow-auto p-3">
                            <ul id="response-output" class="chat-messages list-unstyled m-0 p-0">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et saepe asperiores quasi,
                                    placeat nesciunt facere rem, qui sit rerum est quo, error impedit cumque ipsa illo
                                    pariatur unde quae reiciendis!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa praesentium, at, fugit
                                    quasi est dicta beatae vel laborum sint obcaecati itaque, nemo voluptates accusamus
                                    quas expedita explicabo omnis corporis dignissimos!</p>
                            </ul>
                        </div>
                        <div class="chatbox-input d-flex align-items-center p-3">
                            <input type="text" class="form-control flex-grow-1" id="queryInput"
                                placeholder="e.g. Explain this contract in plain English">
                            <button class="btn btn-primary ml-3 send-button" onclick="sendQuery()">?</button>
                        </div>
                        <div class="row btn-row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script></script>