@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .chatbot-container {
        position: absolute;
        border-color: #007bff;
        border-width: 3px;
        border-radius: 5px;
        height: 70vh;
        display: flex;
        /* Added for vertical positioning */
        flex-direction: column;
        /* Added for vertical positioning */
    }

    .chat-body {
        flex-grow: 1;
        position: absolute;
    }

    .chat-input {
        position: absolute;
        left: 15px;
        right: 15px;
        width: calc(100% - 30px);
        bottom: 10px;
    }

</style>




<div class="container-fluid d-flex">
    <div class="chatbot-container col-md-6 border rounded shadow bg-light">
        <div class="chat-header d-flex align-items-center justify-content-between p-3">
            <h4 class="mb-0">Satva</h4>
        </div>

        <div class="chat-body flex-grow-1 overflow-auto p-3">
            <ul class="chat-messages list-unstyled m-0 p-0">
            </ul>
        </div>

        <div class="chat-input d-flex align-items-center p-3">
            <input type="text" class="form-control flex-grow-1 rounded-0" placeholder="Ask me anything…">
            <button class="btn btn-primary ml-3 rounded-0">Send</button>
        </div>
    </div>
    
</div>
