@{
    ViewData["Title"] = "Service Dashboard";
    Layout = "~/Views/Shared/_HamburgerBar.cshtml";
}
<link rel="stylesheet" href="~/Views/Home/Index.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/documentDashboard.css">

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="error-background" id="error-background">
        <div class="error-container">
            <span class="error-close" id="error-close">&times;</span>
            <h2 class="error-title">Error</h2>
            <p id="error-message"></p>
        </div>
    </div>
    <div class="container">
        <div class="row chatbot-row">
            <div class="col-md-8 chatbot-col">
                <div class="chat-container d-flex flex-column h-100">
                    <div class="chatbot-topFrame container d-flex">
                        <div class="chatbot-name-container container">
                            <h3 id="document-name"></h3>
                        </div>
                        <div class="new-upload-container">
                            <button class="btn btn-primary btn-lg file-upload-button new-upload" type="button"
                                id="upload-button" onclick="newUpload()">
                                New Upload
                            </button>
                        </div>
                    </div>
                    <div class="chatbot-messages-container rounded flex-grow-1 overflow-y" id="chat-window">
                        <!-- Chat messages will appear here -->
                    </div>
                    <div class="chatInput-container d-flex align-items-center">
                        <div class="input-container container-flex flex-grow-1">
                            <input type="text" class="form-control flex-grow-1" id="queryInput"
                                placeholder="e.g. Explain this contract in plain English"
                                onkeypress="submitChat(event)">
                        </div>
                        <div class="sendButton-container">
                            <button class="btn btn-primary ml-3 send-button" id="send-button" onclick="sendQuery()"
                                oninput="checkInput()">
                                <svg xmlns="http://www.w3.org/2000/svg" id="send-icon" width="16" height="16"
                                    fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                    <path
                                        d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 chart-col">
                <div id="page-container" class="page-container">
                    <div id="loader" class="loader loader-spinner"></div>
                </div>
                <h4>Risk Analysis</h4>
                <canvas id="spiderChart"></canvas>
                <h4>Risk Meter</h4>
                <div id="riskMeter">
                    <div id="riskMeterFill"></div>
                    <div id="riskMeterLabel">0</div>
                </div>
            </div>

        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/documentDashboard.js"></script>