@{
    ViewData["Title"] = "Service Dashboard";
    Layout = "~/Views/Shared/_HamburgerBar.cshtml";
}
<link rel="stylesheet" href="~/Views/Home/Index.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/documentDashboard.css">

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="error-background" id="error-background">
        <div class="error-container">
            <span class="error-close" id="error-close">&times;</span>
            <h2 class="error-title">Error</h2>
            <p id="error-message"></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 chart-col">
                <div id="page-container" class="page-container">
                    <div id="loader" class="loader loader-spinner">
                        Loading<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
                    </div>
                </div>
                <h4>Risk Analysis</h4>
                <canvas id="spiderChart"></canvas>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <div class="scores-container d-flex flex-column">
                    <div class="breakdowns-container d-flex flex-column">
                        <div class="title-file-container d-flex">
                            <div class="title-container">
                                <!-- Title content will go here -->
                            </div>
                            <div class="view-file-container">
                                <button class="view-file-button"></button>
                            </div>
                        </div>
                        <div class="meter-summary-container d-flex">
                            <div class="meter-container d-flex flex-column">
                                <div class="label-container">
                                    <h6>Overall Score</h6>
                                </div>
                                <div class="o-meter-container">
                                    <canvas id="circularRiskMeter" width="344" height="206" style="display: block; box-sizing: border-box; height: 103px; width: 172px;"></canvas>
                                </div>
                            </div>
                            <div class="summary-container">
                                <p class="injected-summary-container" id="injected-summary"></p>
                            </div>
                        </div>
                    </div>
                    <div class="metrics-container d-flex">
                        <div class="metric-1 d-flex flex-column">
                            <div class="metric-1-title-container">
                                <h6>Operational</h6>
                            </div>
                            <div class="small-risk-meter">
                                <div class="small-risk-meter-fill" style="width: 47%;"></div>
                            </div>
                        </div>
                        <div class="metric-2 d-flex flex-column">
                            <div class="metric-2-title-container">
                                <h6>Financial</h6>
                            </div>
                            <div class="small-risk-meter">
                                <div class="small-risk-meter-fill" style="width: 60%;"></div>
                            </div>
                        </div>
                        <div class="metric-3 d-flex flex-column">
                            <div class="metric-3-title-container">
                                <h6>Compliance</h6>
                            </div>
                            <div class="small-risk-meter">
                                <div class="small-risk-meter-fill" style="width: 30%;"></div>
                            </div>
                        </div>
                        <div class="metric-4 d-flex flex-column">
                            <div class="metric-4-title-container">
                                <h6>Reputational</h6>
                            </div>
                            <div class="small-risk-meter">
                                <div class="small-risk-meter-fill" style="width: 80%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-container d-flex flex-column">
                    <div class="chat-inner-container d-flex flex-column">
                        <div class="chatbot-messages-container flex-grow-1 overflow-y-auto" id="response-container">
                            <!-- Chat messages will appear here -->
                        </div>
                        <div class="input-container d-flex align-items-center rounded" id="input-container">
                            <div class="container-flex flex-grow-1">
                                <input type="text" class="form-control flex-grow-1" id="queryInput"
                                    placeholder="e.g. Explain this contract in plain English" onkeypress="submitChat(event)">
                            </div>
                            <div class="sendButton-container">
                                <button class="btn btn-primary ml-3 send-button" id="send-button" onclick="sendQuery()"
                                    oninput="checkInput()">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="send-icon" width="16" height="16"
                                        fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                        <path
                                            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/documentDashboard.js"></script>
