@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-outline-secondary.rounded-pill.btn-lg {
        background-color: gray;
        border: blue;
        position: relative;
    }

    .btn-outline-secondary.rounded-pill.btn-lg:hover {
        background-color: rgb(3, 170, 254);
        color: white;
        border: transparent;
    }

    .btn-primary.rounded-pill.btn-lg:hover {
        background-color: rgb(3, 170, 254);
        color: white;
        border: transparent;
    }

    .btn-primary.rounded-pill.btn-lg {
        color: white;
        border: transparent;
        position: relative;
        padding: 8px 20px;
    }

    .header-container {
        padding-top: 5vh;
    }

    .bg-color {
        background-color: white;
    }

    .btn.rounded-0 {
        border-width: 3px;
        border-color: rgba(0, 0, 255, 0.7);
        font-weight: bold;
        font-size: 16px;
    }
    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style> 

<div>

    <div class="container-fluid">
        <div class="row mt-5 text-center d-flex">
            <header>
                <h1>File upload portal</h1>
            </header>
        </div>
    <br />
    <br />
        <div class="btn-container">
            <a class="btn btn-outline-secondary rounded-pill btn-lg text-dark text-decoration-none">Browse Files</a>
        </div>

    </div>

</div>