@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-outline-secondary.rounded-pill.btn-lg {
        color: white;
        border: transparent;
        position: relative;
    }

    .btn-outline-secondary.rounded-pill.btn-lg:hover {
        background-color: rgb(3, 170, 254);
        color: white;
        border: transparent;
    }

    .btn-primary.rounded-pill.btn-lg:hover {
        background-color: rgb(3, 170, 254);
        color: white;
        border: transparent;
    }

    .btn-primary.rounded-pill.btn-lg {
        color: white;
        border: transparent;
        position: relative;
        padding: 8px 20px;
    }

    .bg-gradient {
        background-image: linear-gradient(to bottom, #ffffff, #005eff) !important;
        min-height: 100vh;
        margin-bottom: 10vh;
        position: relative;
    }

    .header-container {
        padding-top: 5vh;
    }
</style>






<div class="container-fluid bg-gradient">
    <div class="row mt-5">
        <div class="col-12 h-100 text-center header-container">
            <header>
                <h1>File Upload Portal</h1>
            </header>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">

        <div class="col-md-5 d-flex  h-200 p-2 btn btn-primary rounded-pill btn-lg justify-content-center text-white text-decoration-none">
            <label for="fileInput" class="text-center">Select a file</label>
            <input type="file" id="fileInput" style="display:none;">
        </div>

    </div>
</div>







<script src="/js/fileUpload.js">
</script>