@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-outline-secondary.rounded-pill.btn-lg {
        background-color: #007bff;
        border: transparent;
        position: relative;
    }

    .btn-outline-secondary.rounded-pill.btn-lg:hover {
        background-color: rgb(3, 170, 254);
        color: white;
        border: transparent;
    }

    .header-container {
        padding-top: 5vh;
    }

    .bg-color {
        background-color: white;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style> 

<div>

    <div class="container-fluid">
        <div class="row mt-5 text-center d-flex">
            <header>
                <h1>File upload portal</h1>
            </header>
        </div>
    <br />
    <br />
        <div class="btn-container">
            <button class="btn btn-outline-secondary rounded-pill btn-lg text-white text-decoration-none" type="button" id="browse-button">Browse Files</button>
            <div id="selected-file-name"></div>
        </div>
        <div class="btn-container">
            <button class="btn btn-outline-secondary rounded-pill btn-lg text-white text-decoration-none" onclick="uploadDocument()" type="button" id="browse-button">DEVENS BUTTON FOR TESTING API DONT DELETE ME DADDY</button>
        </div>
    </div>

</div>

<script src="/js/fileUpload.js"></script>
<script>
    const browseButton = document.getElementById('browse-button');
    browseButton.addEventListener('onclick',fileUpload.openFileDialog());
</script>