@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-outline-secondary.rounded-pill.btn-lg {
        background-color: #ffffff;
        color: white;
        @* border: 2px solid lightblue; *@
        /* Add a light-blue border for initial state */
    }

    .btn-outline-secondary.rounded-pill.btn-lg:hover {
        background-color: rgb(3, 170, 254);
        color: white;
        border: 2px solid #0d6efd;
        /* Maintain black border on hover */
    }

    .btn-primary.rounded-pill.btn-lg:hover{
        background-color: rgb(3, 170, 254);
        color: white;
        border: 2px solid #0d6efd;
    }
</style>


<head>
    <link rel="stylesheet" href="~/Views/Home/Index.css" asp-append-version="true" />
</head>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 h-100 text-center header-container">
            <header>
                <h1 class="text-black body">Legal Documents,</h1>
                <h1 class="text-primary body font">Decoded</h1>
            </header>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-5 text-center align-items-center h-100 p-2 ms-auto">
            <a class="btn btn-primary rounded-pill btn-lg text-white text-decoration-none">Get Started</a>
        </div>

        <div class="col-5 justify-content-start h-100 p-2">
            <a class="btn btn-outline-secondary rounded-pill btn-lg text-black text-decoration-none" asp-controller="Home" asp-action="OurProducts">Learn More &#8594</a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="h-100 col-12">
        </div>

    </div>
</div>