@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-outline-secondary.rounded-pill.btn-lg {
        color: white;
        border: transparent;
        position: relative;
    }

        .btn-outline-secondary.rounded-pill.btn-lg:hover {
            background-color: rgb(3, 170, 254);
            color: white;
            border: transparent;
        }

    .btn-primary.rounded-pill.btn-lg:hover {
        background-color: rgb(3, 170, 254);
        color: white;
        border: transparent;
    }

    .btn-primary.rounded-pill.btn-lg {
        color: white;
        border: transparent;
        position: relative;
        padding: 8px 20px;
    }

    .bg-gradient {
        background-image: linear-gradient(to bottom, #ffffff, #005eff) !important;
        min-height: 100vh;
        margin-bottom: 10vh;
        position: relative;
    }

    .header-container {
        padding-top: 5vh;
    }
</style>


<head>
    <link rel="stylesheet" href="~/Views/Home/Index.css" asp-append-version="true" />
</head>

<div class="container-fluid bg-gradient">
    <div class="row mt-5">
        <div class="col-12 h-100 text-center header-container">
            <header>
                <h1 class="text-black display-4">Legal Documents,</h1>
                <h1 class="text-primary display-4">Decoded</h1>
            </header>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">

        <div class="col-md-5 d-flex justify-content-end h-200 p-2">
            <a class="btn btn-primary rounded-pill btn-lg text-white text-decoration-none" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
        </div>
        <div class="col-md-5 d-flex justify-content-start h-100 p-2">
            <a class="btn btn-outline-secondary rounded-pill btn-lg text-dark text-decoration-none" asp-controller="Home" asp-action="OurProducts">Learn More &#8594</a>
        </div>

    </div>
</div>

