@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" type="text/css" href="\css\loginView.css" />
<script src="\js\loginView.js"></script>

<div class="login-container">
    <h2 class ="display-4">Login</h2>

    <div class="input-container">
        <div class="form">
            <input id="email" type="text" placeholder="Enter Email" />
            <input id="password" type="password" placeholder="Enter Password" />
            <button class="btn" onclick="validateUser()">Login</button>
            <button class="btn">Forgot Password</button>
        </div>
    </div>
</div>



