@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<body>
    <header>
        <div class="container-fluid text-center">
            <br>
            <h1 class="display-4 font text-black">Our Products </h1>
            <br>
            <p>If you are a licensed legal expert seeking an additional revenue stream- our AI ecosystem enables you with tools to expedite legal document work, freeing up your time for efforts that actually get you paid. 
            </p>
            <br>
            <br>
            <p>If you are an individual or business leader seeking legal services on a budget- our user-friendly AI ecosystem empowers users with tools to get more from attorney-client meetings.
            </p>
        </div>
        
        <div class="container-fluid text-center ">
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-lg rounded-pill font text-white">Get Started</button>
        </div>

    </header>
</body>
