@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<style>
    .btn-primary.rounded-pill.btn-lg:hover {
        background-color: rgb(3, 170, 254);
        color: white;
        border: transparent;
    }

    .btn-primary.rounded-pill.btn-lg {
        color: white;
        border: transparent;
    }

    .bg-color {
        min-height: 100vh;
        margin-bottom: 10vh;
    }

    .header-container {
        padding-top: 5vh;
    }
</style>

<div class="container-fluid bg-color">
    <div class="header-container">
        <header>
            <h1 class="display-4 text-center text-black">Try Strive</h1>
        </header>
        <div class="get-started-button mt-4 text-center">
            <button type="button" class="btn btn-primary btn-lg rounded-pill text-white" onclick="redirectToRegister()">Get Started</button>
        </div>
    </div>
    <br />
    <br />
    <div class="row mt-8">
        <div class="col-md-6">
            <div class="container bg-white p3 rounded">
                <h1 class="mt-3">For Attorneys</h1>
                <p>
                    Forget endless document reviews and late-night scrambling before negotiations. Imagine dissecting
                    complex contracts in seconds, pinpointing hidden discrepancies and potential landmines with surgical
                    precision. Strive's document analysis AI (DA) isn't just a fancy highlighter – it's your secret
                    weapon in the courtroom, letting you move beyond surface-level readings and reclaim hours lost to
                    legalese labyrinths. Close deals with confidence, knowing every clause has been scrutinized by an AI
                    partner with a hawk eye for risk.
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="container bg-white p3 rounded">
                <h1 class="mt-3">For Clients</h1>
                <p>
                    Gain the ultimate legal advantage with Strive's AI co-pilot. It silently analyzes your documents,
                    whispering potential pitfalls and counter-arguments. No more scrambling for answers mid-negotiation.
                    Anticipate any curveball, secure seemingly impossible deals, and savor the satisfaction of
                    outmaneuvering your opponent with an AI-powered preemptive strike against hidden clauses.
                </p>
            </div>
        </div>
    </div>
</div>
<script src="/js/ourProducts.js"></script>