@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="header-container">
        <header>
            <h1 class="display-4 text-center text-black">Try Strive</h1>
        </header>
        <div class="get-started-button mt-5 text-center">
            <button type="button" class="btn btn-primary btn-lg rounded-pill text-white">Get Started</button>
        </div>
    </div>
    <br />
    <br />
    <div class="row mt-8">
        <div class="col-md-6">
            <div class="container bg-white p3 rounded">
                <h1 class="mt-3">For Attorneys</h1>
                <p>
                    Finally, an opportunity to get ahead of the curve. Strive's document analysis AI acts as a silent
                    advisor, whispering potential objections and counter-arguments, ensuring you're always prepared for
                    any
                    curveball the other side throws. Picture the satisfaction of securing a seemingly impossible deal,
                    all
                    thanks to a preemptive strike against a hidden clause identified by AI.
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="container bg-white p3 rounded">
                <h1 class="mt-3">For Clients</h1>
                <p>
                    Imagine instantly analyzing complex contracts for discrepancies and potential risks, gaining a
                    confident advantage in negotiations. Our document analysis AI (DA) helps lawyers go beyond
                    surface-level
                    reading while subtracting hours of pouring over legalese.
                </p>
            </div>
        </div>
    </div>
</div>