@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: #ffffff;

    }

    header {
        background: #ffffff;
        color: #ffffff;
        text-align: center;
        padding: 10px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(to right, #ffffff, #005eff);
        padding: 10px;
    }

    nav a {
        color: #040000;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    nav a:hover {
        background-color: #E6E0B0;
    }
</style>