@{
    ViewData["Title"] = "Service Dashboard";
    Layout = "~/Views/Shared/_HamburgerBar.cshtml";
}
<link rel="stylesheet" href="~/css/serviceDashboard.css">
<div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="row justify-content-center">
        <div class="col-md-3 d-flex justify-content-end mb-4">
            <a href="@Url.Action("FileUpload", "Home")" class="text-decoration-none">
                <div class="widget shadow p-3 mb-5 rounded mr-3">
                    <h5 class="widget-title">File Upload</h5>
                    <p class="widget-text">Upload your files here</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 d-flex justify-content-start mb-4">
            <a href="@Url.Action("ContactUs", "Home")" class="text-decoration-none">
                <div class="widget shadow p-3 mb-5 rounded ml-3">
                    <h5 class="widget-title">Get in Contact</h5>
                    <p class="widget-text">Schedule an appointment, now</p>
                </div>
            </a>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>

<style>
    
</style>


<script src="~/js/serviceDashboard.js"></script>
