@{
    ViewData["Title"] = "TEST";
}
<style>
    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .section {
        margin-top: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    .result {
        margin-top: 10px;
        font-weight: bold;
    }

</style>
<script>
    function getUser(){
        fetch('/api/databasemanagement?email=' + document.getElementById("get-email").value,{
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response =>
            {
                if (!response.ok)
                {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data =>
            {
                document.getElementById("get").innerHTML = JSON.stringify(data);
            })
            .catch(error =>
            {
                console.error('There was a problem with the API request:',error);
            });
    }
    function updatePassword(){
        fetch('/api/databasemanagement?email=' + document.getElementById("put-email").value + ' & newPassword=' + document.getElementById("new-password").value,{
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response =>
            {
                if (!response.ok)
                {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data =>
            {
                document.getElementById("put").innerHTML = JSON.stringify(data);
            })
            .catch(error =>
            {
                console.error('There was a problem with the API request:',error);
            });
    }
</script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script type="text/javascript">
    function sendEmail()
    {
        return;
        Email.send({
            Host: "smtp.elasticemail.com",
            Username: "development@trekkers789.onmicrosoft.com",
            Password: "0C9D3772B31953197AEC1BDD2DA2E524A48B",
            To: 'devenshah2018@gmail.com',
            From: "development@trekkers789.onmicrosoft.com",
            Subject: "Sending Email using javascript",
            Body: "Well that was easy!!",
        })
            .then(function (message)
            {
                alert("mail sent successfully")
            });
    }
</script>
<div class="container">
    <h1 class="display-4">TEST API</h1>

    <section class="section">
        <h2>Get</h2>
        <div class="form">
            <input id="get-email" type="text" placeholder="Enter Email" />
            <button class="btn" onclick="getUser()">Submit</button>
        </div>
        <p id="get" class="result"></p>
    </section>

    <section class="section">
        <h2>Update Password</h2>
        <div class="form">
            <input id="put-email" type="text" placeholder="Enter Email" />
            <input id="new-password" type="text" placeholder="Enter Password" />
            <button class="btn" onclick="updatePassword()">Change Password</button>
        </div>
        <p id="put" class="result"></p>
    </section>
    <form method="post">
        <input type="button" value="Send Email"
               onclick="sendEmail()" />
    </form>
</div>


