.top-row {
    margin-top: 10vh;
}

.summary-col {
    position: relative;
    margin-right: 5vw;
    margin-top: -5vh;
}


.chat-col {
    position: relative;
    margin-top: -5vh;
}

.viewdocument-button-row {
    margin-bottom: 5vh;
}

.viewdocument-button-col {
    margin-top: 0vh;
    position: absolute;
}


.btn-warning:hover {
    background-color: transparent;
    color: rgb(255, 157, 0);
}

.newupload-btn:hover {
    background-color: green;
    color: white;
}

.btn-block {
    border: 1px solid grey;
    background-color: grey;
}

.btn-primary-viewdoc {
    color: green;
    position: relative;
    border: 1px solid green;
    margin-left: 1vw;
    margin-right: 1vw;
}

    .btn-primary-viewdoc:hover {
        background-color: rgb(68, 64, 64);
        color: white;
    }

.chatbox-container {
    border: 1px solid white;
    border-radius: 10cqw;
}


.chatbox-col {
    margin-top: 0.9vh;
}

.newuploadbtn-col {
    margin-left: -3vw;
}

.loader-spinner {
    width: 300px;
    z-index: 9999;
    top: 50%;
    left: 37%;
    position: fixed;
}

    .loader-spinner path {
        --total-length: 136px;
        stroke-linecap: round;
        stroke-width: 6;
        stroke: #3673fd;
        fill: none;
        stroke-dasharray: var(--total-length) var(--total-length);
        animation: animate 2s linear infinite;
    }

@keyframes animate {
    0% {
        stroke-dashoffset: calc(-1 * var(--total-length));
    }

    30%, 50% {
        stroke-dashoffset: 0;
    }

    80%, 100% {
        stroke-dashoffset: var(--total-length);
    }
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #FF3D00;
}

    .loader:before,
    .loader:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        transform: rotateX(70deg);
        animation: 1s spin linear infinite;
    }

    .loader:after {
        color: #63029c;
        transform: rotateY(70deg);
        animation-delay: .4s;
    }

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%, 100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}
   
.summary-loader-container {
    margin-left: 10vw;
    position: absolute;
}

.typing {
    display: block;
    width: 60px;
    height: 40px;
    border-radius: 20px;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.circle {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #8d8d8d;
    margin: 3px;
}

.scaling {
    animation: typing 1000ms ease-in-out infinite;
    animation-delay: 3600ms;
}

.circle:nth-child(1) {
    animation-delay: 0ms;
}


.circle:nth-child(2) {
    animation-delay: 333ms;
}

.circle:nth-child(3) {
    animation-delay: 666ms;
}



@keyframes typing {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}