/* Reset Styles and Basic Setup */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #f5f5f5;
}

/* Container Styling */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.page-container {
    opacity: 0.5;
    z-index: 999;
    position: absolute;
    background: #f5f5f5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Chat Container */
.chat-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 0;
    /* Removed padding */
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 40vw;
    border: 1px solid black;
    position: relative;
    left: -2vw;
    top: 45vh;
    /* Changed to relative */
}

.chat-inner-container {
    background: #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
}

/* Response Container */
#response-container {
    flex-grow: 1;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 10px;
    height: 100%;
}

/* Input Group and Form Controls */
.input-container {
    display: flex;
    align-items: center;
    width: 100%;
    background: #e0e0e0;
    /* padding: 10px; */
    /* position: absolute; */
    bottom: 0;
    border-radius: 0 0 8px 8px;
    /* margin-bottom: 20px; */
}

.form-control {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-group-append,
.input-group-prepend {
    display: flex;
    align-items: stretch;
}

.input-group-append button,
.input-group-prepend button {
    background: #3a516a;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.input-group-append button:disabled,
.input-group-prepend button:disabled {
    background: #bbb;
    cursor: not-allowed;
}

/* Chat Messages */
.chat-output {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    background: #e4e4e4;
    color: black;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.chat-output.darker {
    background: #3a516a;
    color: white;
    align-self: flex-end;
}

.bubble-text {
    width: max-content;
    margin: 0;
}

.edit-button {
    right: 10px;
    background-color: #0066cc;
    background: burlywood;
    transform: scale(-1, 1);
}

.save-button,
.cancel-button {
    display: none;
}

.save-button {
    right: 45px;
    background-color: #28a745;
    margin-right: 10px;
    background: #bcffd3;
}

.cancel-button {
    right: 10px;
    background-color: #dc3545;
    background: #fc6464;
}

.edit-button:hover,
.save-button:hover,
.cancel-button:hover {
    background-color: #555;
}

.editable {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    background: #fff;
    color: #000;
    outline: none;
}

.edit-button,
.save-button,
.cancel-button {
    cursor: pointer;
    border: none;
    padding: 5px;
    font-size: 14px;
    color: black;
    border-radius: 4px;
    transition: background-color 0.2s;
    float: right;
    width: 30px;
    height: 30px;
}

/* Chart Container */
.chart-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.chart-col {
    position: relative;
    min-height: 300px;
    height: calc(100vh - 340px);
    /* Adjust height as needed */
    width: 60%;
    /* Adjust this value as needed */
}

/* Risk Meter */
#riskMeter {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f1f1f1;
    position: relative;
}

#riskMeterFill {
    width: 0;
    height: 100%;
    background: #ff6b6b;
    border-radius: 8px 0 0 8px;
    transition: width 0.3s ease;
}

#riskMeterLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #333;
}

/* Base styles */
.loader-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38vw;
    height: 60vh;
    max-width: 400px;
    /* Add a max-width to maintain proportions on larger screens */
    max-height: 400px;
    /* Add a max-height to maintain proportions on larger screens */
    margin: 0 auto;
    /* Center the loader horizontally */
}

.loader {
    font-size: 25px;
}

.loader .dot {
    animation: blink 1.4s infinite both;
    margin: 0 4px;
    /* Add fixed space between dots */
}

.loader .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loader .dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Media queries for different screen sizes */
@media screen and (max-width: 768px) {
    .loader-spinner {
        width: 50vw;
        /* Increase width for better visibility on smaller screens */
        height: 50vh;
        /* Adjust height to maintain aspect ratio */
    }

    .loader {
        font-size: 22px;
        /* Slightly reduce font size for medium screens */
    }
}

@media screen and (max-width: 480px) {
    .loader-spinner {
        width: 80vw;
        /* Further increase width for mobile devices */
        height: 40vh;
        /* Adjust height for mobile devices */
    }

    .loader {
        font-size: 20px;
        /* Further reduce font size for smallest screens */
    }
}

/* File Upload Button */
.new-upload {
    background-color: #212529 !important;
    border-color: #212529 !important;
    white-space: nowrap;
    font-size: 1rem !important;
    display: flex !important;
    height: 5vh !important;
    align-items: center !important;
}

.new-upload:hover {
    background-color: gray;
}

.new-upload-container {
    display: flex;
    align-items: center;
}

.typing {
    display: flex;
    align-items: center;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #0177f5;
    border-radius: 50%;
    display: inline-block;
    animation: scaling 1s infinite ease-in-out;
}

.circle.scaling {
    animation: scaling 1s infinite ease-in-out;
}

@keyframes scaling {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

.chatInput-container {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.input-container {
    flex-grow: 1;
    height: 5vh;
    outline: none;
}

#queryInput {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
}

.sendButton-container {
    /* height: 50px; */
    /* width: 75px; */
    display: flex;
    align-items: center;
    margin-left: 5px;
}

#send-button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    box-sizing: border-box;
}

.error-background {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.error-container {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-top: 10vw;
}

.error-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.error-close:hover,
.error-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.error-title {
    color: red;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}