/* ========== Global Styles ========== */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    padding-top: 56px;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* ========== Layout ========== */

/* Top Section */
.top-row {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 0;
    margin-top: -10vh;
}

.landing-container {
    width: 100%;
    padding: 2rem;
}

/* Middle Section */
.middle-section {
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 1200px;
}

.bottom-row {
    padding: 2rem 0;
    margin: 0 auto;
    max-width: 800px;
}

/* Footer Section */
.footer-section {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

    .footer-section p {
        margin: 5px 0;
    }

/* ========== Typography ========== */

.highlight {
    color: #ffbf00;
    font-style: italic;
}

header .title-frame h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
    padding-left: 2rem;
}

header .title-frame h5 {
    font-size: 1rem;
    margin: 0.5rem 0;
    padding-left: 2rem;
}

.info-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.info-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* ========== Components ========== */

/* Spider Chart */
.spider-chart-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Info Boxes */
.info-box {
    background-color: #333;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
    color: white;
    text-align: left;
    width: 100%;
}

/* Buttons */
.btn-primary-black.rounded-pill.btn-lg {
    color: white;
    background-color: black;
    border: transparent;
    padding: 0.75rem 1.5rem;
}

    .btn-primary-black.rounded-pill.btn-lg:hover {
        background-color: lightgray;
    }

.btn-primary-demo {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 0.75rem 1.5rem;
}

    .btn-primary-demo:hover {
        color: blue;
    }

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    margin-top: 1rem;
    font-size: 1.1rem;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

/* Widget */
.widget {
    border-radius: 20px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f8f9fa;
    transition: box-shadow 0.3s;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .widget:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.widget-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.widget-text {
    font-size: 1rem;
    color: #555555;
}

.calendly-inline-widget {
    min-width: 320px;
    width: 100%;
    height: 630px;
}

/* Navigation */
.nav-gradient {
    background-color: #000000;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

    .navbar-nav .nav-link {
        color: #ffffff !important;
        font-size: 1rem;
        margin: 0 0.5rem;
    }

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2880, 80, 80, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link.btn.login-btn {
    margin-left: 1rem;
    color: #ffffff !important;
}

/* ========== Responsive Design ========== */

@media (max-width: 768px) {
    .top-row {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: -10vh;
    }

        .top-row .col-lg-8,
        .top-row .col-lg-4 {
            margin-bottom: 20px;
        }

        .top-row .col-lg-4 {
            margin-bottom: 0;
        }

    .start-button-frame {
        flex-direction: column;
        align-items: center;
    }

    .info-box {
        width: 100%;
    }
}
