    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
    }

    .top-row {
        background-image: linear-gradient(to left, #042d8b, #edeced) !important;
        min-height: 90vh;
        width: 100vw;
        display: flex;
        align-items: flex-start;
        padding: 0;
    }

    .landing-container {
        margin-top: -2rem;
        /* Move the landing-container up */
    }

    .middle-section,
    .calendly-section {
        padding: 4rem 0;
    }

    .bottom-row {
        padding: 2rem 0;
    }

    .btn-primary-black.rounded-pill.btn-lg {
        color: white;
        background-color: black;
        border: transparent;
    }

    .btn-primary-black.rounded-pill.btn-lg:hover {
        background-color: lightgray;
    }

    .btn-primary-demo {
        background-color: transparent;
        border: 2px solid white;
        color: white;
    }

    .btn-primary-demo:hover {
        color: blue;
    }

    .name-box,
    .email-box,
    .company-container,
    .phone-container,
    .usecase-col {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 7vh;
        margin: 0 auto;
    }

    textarea#usecase {
        height: auto;
        min-height: 100px;
    }

    .submit-btn {
        background-color: black;
        color: white;
        padding: 1em 2em;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 7vh;
    }

    .submit-btn:hover {
        background-color: rgb(51, 48, 48);
    }

    .title-frame {
        margin-bottom: 10px;
        text-align: left;
        padding-top: 0;
    }

    .start-button-frame {
        display: flex;
        gap: 1rem;
        margin-top: 1.5rem;
        /* Adjusted margin-top for spacing */
    }

    canvas#spiderChart {
        max-width: 100%;
        height: auto;
        background-color: transparent;
    }

    @media (max-width: 768px) {
        .top-row {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }

        .top-row .col-lg-8,
        .top-row .col-lg-4 {
            margin-bottom: 20px;
        }

        .top-row .col-lg-4 {
            margin-bottom: 0;
        }

        .start-button-frame {
            flex-direction: column;
            align-items: center;
        }
    }