.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.input-container {
    display: inline-block;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.btn {
    padding: 10px;
    width: 100%;
    border: none;
    position: relative;
    font-family: var(--font);
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: all 0.5s cubic-bezier(.1,.66,1,.17);
    cursor: pointer;
    z-index: 1;
    margin: 5px 0;
}

.forgot-password {
    width: 45%;
    background: none;
    background: -webkit-linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10px;
}

    .forgot-password:hover {
        background-clip: text;
        -webkit-background-clip: text;
    }

    .forgot-password::before {
        content: "";
        width: auto;
        height: 100%;
        position: absolute;
        inset: 0;
        border: 12px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        transition: border 600ms, opacity 600ms cubic-bezier(.1,.66,1,.17);
    }

    .forgot-password:hover::before {
        opacity: 0;
    }

    .forgot-password::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background: none;
        border: 12px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        opacity: 0;
        z-index: -1;
        transform: scaleX(1.4) scaleY(1.6);
        transition: opacity 500ms, transform 500ms cubic-bezier(.29,.57,.74,.32);

    }

    .forgot-password:hover::after {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }

.login {
    background: none;
    background: -webkit-linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    margin-top: 20px
}

    .login:hover {
        background-clip: text;
        -webkit-background-clip: text;
    }

    .login::before {
        content: "";
        width: auto;
        height: 100%;
        position: absolute;
        inset: 0;
        border: 12px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        transition: border 600ms, opacity 600ms cubic-bezier(.1,.66,1,.17);
    }

    .login:hover::before {
        opacity: 0;
    }

    .login::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background: none;
        border: 12px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        opacity: 0;
        z-index: -1;
        transform: scaleX(1.4) scaleY(1.6);
        transition: opacity 500ms, transform 500ms cubic-bezier(.29,.57,.74,.32);
    }

    .login:hover::after {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }

.request-demo {
    background: none;
    background: -webkit-linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 45%;
    margin-left: auto;
    font-size: 10px;
}

    .request-demo:hover {
        background-clip: text;
        -webkit-background-clip: text;
    }

    .request-demo::before {
        content: "";
        width: auto;
        height: 100%;
        position: absolute;
        inset: 0;
        border: 12px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        transition: border 600ms, opacity 600ms cubic-bezier(.1,.66,1,.17);
    }

    .request-demo:hover::before {
        opacity: 0;
    }

    .request-demo::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background: none;
        border: 12px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        opacity: 0;
        z-index: -1;
        transform: scaleX(1.4) scaleY(1.6);
        transition: opacity 500ms, transform 500ms cubic-bezier(.29,.57,.74,.32);
    }

    .request-demo:hover::after {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    transition: box-shadow 0.3s;
}

input:focus {
    box-shadow: 0 0 10px #19d4ca;
}



.error-message {
    color: red;
    font-size: 14px;
    display: none;
}

/* Background */
#loader-id {
    display: none;
}
.loader-container {
    width: 100vw;
    height: 100vh;
    background: #25313f;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
}

.loader {
    width: 100px;
    height: 100px;
}

    .loader path {
        fill: #fff;
        transform-origin: center;
        animation: rotate 1.5s linear infinite;
    }

.loaderreverse {
    animation-direction: reverse !important;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }

    from {
        transform: rotate(0deg);
    }
}
