.widget {
    border-radius: 20px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f8f9fa;
    transition: box-shadow 0.3s, background-color 0.3s;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #007bff;
    margin: 0 60px;
}

    .widget:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        color: #007bff;
        background-color: #c7cdd4;
    }

.widget-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.widget-text {
    font-size: 1rem;
    color: #555555;
}

.custom-top-margin {
    margin-top: 100px;
}