html {
  font-size: 14px;
}

.navbar-nav .nav-link:hover{
  color:white;
  background-color:grey;
}

/* .navbar-nav .nav-link.active{
  background-color: #f7f7f7;
} */

.btn .btn-lg{
  background-color:#f7f7f7;
  border: #f7f7f7;
}

.nav-gradient{
  background-image: linear-gradient(to left, #63029c, #400d3d) !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
